body{
    background-color: #edf0f5;
}

.left{
    margin: 10%;
    margin-top: 10%;
}
.fac{
    font-weight: 500;
}


.right{
    border: white 1px solid;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-top: 25%;
    /* box-shadow: rgb(105, 103, 103) 2px 5px 5px 5px; */
}


.connecter{
    width: 100%;
    background-color: #1876f1;
    color: white;
}

.compte{
    background-color: #60d13a;
    color: white;
    font-size: 15px;
}

.btncompte{
    padding-left: 20%;
}

h1{
    font-size: 70px;
    color: #1876f1;
}

h6{
    padding-top: 10px;
    font-size: 15px;
}

/* h5{
    font-size: 25px;
} */